.home_container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    background-image: url("../assets/bg4.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px 0;
    text-align: center;
    padding: 10px;
    height: 500px;
    width: 100%;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  nav ul li {
    margin-left: 20px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }

  .hero {
    text-align: center;
    color: white;
  }

  .hero h1 {
    margin-top: 120px;
    font-size: 2.5em;
  }

  .hero p {
    font-size: 1.2em;
  }

  .cta {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #1b9be4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;

    @media (max-width: 500px) {
      width: 100%;
    }
  }

  section {
    padding: 20px;
    text-align: center;

    @media (max-width: 500px) {
      margin-top: 100px;
    }
  }

  .benefits_container,
  .pricing_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .benefit,
  .pricing_plan {
    flex: 1;
    margin: 20px;
    max-width: 300px;
    text-align: center;
  }

  .benefit img,
  .pricing-plan img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .pricing-plan {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
  }

  .pricing-plan h3 {
    margin-top: 0;
  }

  footer {
    background: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 500px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }

  .logo {
    font-size: 1.5em;
  }
}
