.container {
  width: 100vw;
  height: 100vh;
  padding: 120px 10% 0px 10%;
}

.social_media_column {
  display: flex;
  margin: 0;
  flex-direction: column;
  row-gap: 13px;
  margin-bottom: 15px;
  width: 430px;
}

.circle_image {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  background-color: #384444;
  padding: 30px;
}

.circle_image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media (max-width: 500px) {
  .social_media_column {
    width: 100%;
  }

  .circle_image {
    width: 100px;
    height: 100px;
  }
}
